@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900|Dosis:300,400,600,700,800|Droid+Sans:400,700|Lato:300,400,700,900|PT+Sans:400,700|Ubuntu:300,400,500,700|Open+Sans:400,300,600,700|Roboto:400,300,500,700,900|Roboto+Condensed:400,300,700|Open+Sans+Condensed:300,700|Work+Sans:400,300,700|Play:400,700|Maven+Pro:400,500,700,900&subset=latin,latin-ext);
* {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.info {
    text-align: center;
    padding-bottom: 1em;
    border-bottom: 1px solid #555;
}
.info > div {
    display: inline-block;
    width: 200px;
}
.info > div .label {
    margin-right: 5px;
}
.info > div .value {
    font-weight: bold;
}

.cartas .carta {
    position: relative;
    display: inline-block;
    width: 70px;
    height: 105px;
    margin: 0.5em 0.5em;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
}
.cartas .carta .front, .cartas .carta .back {
    border-radius: 5px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: White;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.cartas .carta .back {
    background-image: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/102308/card_backside.jpg");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12px;
}
.cartas .carta .front {
    -moz-transform: rotateY(-180deg);
    -ms-transform: rotateY(-180deg);
    -webkit-transform: rotateY(-180deg);
    transform: rotateY(-180deg);
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
}
.cartas .carta.flipped .back, .cartas .carta.found .back {
    -moz-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}
.cartas .carta.flipped .front, .cartas .carta.found .front {
    -moz-transform: rotateY(0deg);
    -ms-transform: rotateY(0deg);
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}
.cartas .carta.found {
    opacity: 0.3;
}

.splash {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}
.splash .overlay {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.6);
}
.splash .contenido {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 300px;
    height: 300px;
    margin: auto;
    text-align: center;
    background-color: rgba(51, 51, 51, 0.9);
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    -moz-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    -webkit-box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.8);
    padding: 1em;
}
.splash .contenido .title {
    font-size: 1.25em;
    padding: 0.2em;
}
.splash .contenido .score {
    padding: 0.5em;
}
.splash .contenido button {
    margin-top: 1.0em;
    background-color: #444;
    padding: 5px 15px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid #555;
    color: White;
    font-size: 1em;
}
