@font-face {font-family: "Norwester";
    src: url("//db.onlinewebfonts.com/t/7bf226306214181d5e917ed5bda2301c.eot");
    src: url("//db.onlinewebfonts.com/t/7bf226306214181d5e917ed5bda2301c.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/7bf226306214181d5e917ed5bda2301c.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/7bf226306214181d5e917ed5bda2301c.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/7bf226306214181d5e917ed5bda2301c.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/7bf226306214181d5e917ed5bda2301c.svg#Norwester") format("svg");}
@font-face {font-family: "Populuxe Hearton";
    src: url("//db.onlinewebfonts.com/t/4ad92194c5ebfa9aa83f56b4313cfe3a.eot");
    src: url("//db.onlinewebfonts.com/t/4ad92194c5ebfa9aa83f56b4313cfe3a.eot?#iefix") format("embedded-opentype"),
    url("//db.onlinewebfonts.com/t/4ad92194c5ebfa9aa83f56b4313cfe3a.woff2") format("woff2"),
    url("//db.onlinewebfonts.com/t/4ad92194c5ebfa9aa83f56b4313cfe3a.woff") format("woff"),
    url("//db.onlinewebfonts.com/t/4ad92194c5ebfa9aa83f56b4313cfe3a.ttf") format("truetype"),
    url("//db.onlinewebfonts.com/t/4ad92194c5ebfa9aa83f56b4313cfe3a.svg#Populuxe Hearton") format("svg");
}
.Ventana {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 39px;
    background-color: rgb(47, 47, 57);
    box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.35),inset 0px 13px 114px 0px rgba(0, 0, 0, 0.35);
    position: relative;
    left: 0px;
    margin: auto;
    padding: 20px;
    width: 310px;
    height: auto;
    z-index: 1;
}

.Titulo {
    font-size: 30px;
    font-family: "Norwester";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 4px 13px rgba(0, 0, 0, 0.35);
    position: relative;
    text-align: center;
    z-index: 2;
}

a:link, a:visited {
    color: white;
}
.loading {
    font-size: 145px;
    font-family: "Populuxe Hearton";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 13px 29px rgba(0, 0, 0, 0.35);
    position: relative;
    text-align: center;
    width: auto;
    z-index: 10;
}

.punchCard {
    font-size: 100px;
    font-family: "Populuxe Hearton";
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    line-height: 1.2;
    text-shadow: 0px 13px 29px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 4;
}

.Carta {
    border-width: 3px;
    border-color: rgb(255, 255, 255);
    border-style: solid;
    border-radius: 20px;
    background-image: url("../Pomegranate.png");
    background-size: cover;       /* For flexibility */
    box-shadow: 0px 13px 29px 0px rgba(0, 0, 0, 0.35),inset 0px 13px 114px 0px rgba(0, 0, 0, 0.35);
    margin: auto;
    padding: 20px;
    width: 310px;
    height: auto;
    align-content: center;
    text-align: center;
}

.icono {
     float:left;
     margin-top: 20px;
     margin-left: 14px;
     margin-bottom: 20px;
     width: 67px;
     height: 60px;
     z-index: 5;
     shadow: 0px 10px 10px rgba(0, 0, 0, 0.35);
 }
.icono:hover {
    float:left;
    margin-top: 20px;
    margin-left: 14px;
    margin-bottom: 20px;
    width: 75px;
    height: 61px;
    z-index: 5;

}
.icono:hover .corazon{
    background: url("../images/Corazon_b.png") no-repeat center;
    background-size: 110%;
}
.icono:hover .trebol{
    background: url("../images/Corazon_b.png") no-repeat center;
    background-size: 110%;
}
.icono:hover .espada{
    background: url("../images/Corazon_b.png") no-repeat center;
    background-size: 110%;
}
.icono:hover .diamante{
    background: url("../images/Corazon_b.png") no-repeat center;
    background-size: 110%;
}

.titulo {
    font-size: 40px;
    font-family: "Norwester";
    color: rgb(255, 252, 246);
    text-shadow: 2px 2px 2px rgb(40, 40, 40);
    position: relative;
    z-index: 5;
    margin: auto;
    text-align: center;
}

.BotonJuego {
    width: 248px;
    height: 74px;
    color: rgb(40, 40, 40);
    position: relative;
    background-image: url("../images/Forma1.png");
    background-size: cover;       /* For flexibility */
    z-index: 15;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-family: "Norwester";
    padding: 15px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.BotonCierreSesion {
    width: 248px;
    height: 74px;
    color: rgb(40, 40, 40);
    position: relative;
    background-image: url("../images/Forma1.png");
    background-size: cover;       /* For flexibility */
    z-index: 15;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    font-size: 20px;
    font-family: "Norwester";
    padding: 15px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}
.texto {
    font-size: 14px;
    font-family: "Norwester";
    color: rgb(255, 255, 255);
    line-height: 0.577;
    text-shadow: 0px 13px 29px rgba(0, 0, 0, 0.35);
    position: relative;
    z-index: 5;
    margin: auto;
    text-align: center;
}

.Volver{
    position: relative;
    top: 20px; left: 40px;

}

.menucarta {
    position: relative;
    width: 300px;
    height: 450px;
    margin: auto;
    -moz-transition: opacity 0.5s;
    -o-transition: opacity 0.5s;
    -webkit-transition: opacity 0.5s;
    transition: opacity 0.5s;
    display: block;

}
.menucarta .detras {
    border-radius: 5px;
    position: relative;
    width: 100%;
    height: 100%;
    background-color: White;
    -moz-backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    -moz-transition: -moz-transform 0.6s;
    -o-transition: -o-transform 0.6s;
    -webkit-transition: -webkit-transform 0.6s;
    transition: transform 0.6s;
    -moz-transform-style: preserve-3d;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 2em;
    background-image: url("../images/Fondo.bmp");
    background-size: 90%;
    background-position: center;
    background-repeat: no-repeat;
    font-size: 12px;
}

.nombreUsuario{
    font-size: 15px;
    font-family: "Agency FB";
    color: rgb(54, 182, 255);
    font-weight: bold;
    text-transform: uppercase;
    border: 2px #292929;
}

.Estadisticas {
    font-size: 18px;
    font-family: "Agency FB";
    color: rgb(255, 168, 0);
    font-weight: bold;
    text-shadow: 0px 13px 20px rgb(0, 0, 0);
    border: 1px #0a0a0a;
}

.Ranking{
    color: rgb(40, 40, 40);
    position: relative;
    background-image: url("../images/Ranking_bg.png");
    width: 240px;
    height: 320px;
    background-size: cover;       /* For flexibility */
    z-index: 15;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    align-content: center;
    align-self:center;
    align-items: center;
    font-size: 15px;
    font-family: "Norwester";
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    padding: 70px 45px;
}


.navbar-item.center {
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}


